[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/nginx/nginx.git
[submodule "libbpf-bootstrap"]
	path = libbpf-bootstrap
	url = https://github.com/libbpf/libbpf-bootstrap.git
